# Directories
.vs/
bin/
bin-int/

.vs/Hazel/project-colors.json
.vs/Hazel/v17/.suo
.vs/Hazel/v17/Browse.VC.db
.vs/Hazel/v17/ipch/AutoPCH/fa0e9d983db0d4e7/APPLICATION.ipch
.vs/Hazel/v17/Solution.VC.db
